// -------------------------------------------------------
// HOME
// -------------------------------------------------------


/* Header */

.header {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;

    color: $c-dark-text;
}

.header__canvas {
    display: block;
    max-width: 100vw;
    max-height: 100vh;
}

.header__inner {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.header__logo {
    @include position(absolute, null, null, 100%, calc(50% - 75px));
    width: 150px;
    height: 150px;
    margin: 0 auto;

    background: url('../img/logo.svg') no-repeat center center;
    background-size: contain;
}

.header__title {
    text-align: center;
    font-family: $f-Raleway;
    font-size: 5rem;
    font-weight: 900;

    span {
        display: block;

        &.hide {
            transform: translateY(100%);
            opacity: 0;
        }
    }
}

.header__title__sub {
    margin-bottom: 1rem;

    font-size: 3rem;
    font-weight: 300;
}

.header__title__decorator {

    display: block;
    width: 30%;
    height: 2px;
    margin: 0 auto;
    
    background: #222;
    border-radius: 5px;

    transform: scaleX(0);

    // animation: scaleSide .5s .3s ease-out forwards;
}

.explore-button {
    display: block;
    margin: 0 auto;
    margin-top: 2.5rem;
    padding: 1rem 2rem;

    font-family: $f-Raleway;
    font-size: 1.4rem;
    font-weight: 600;

    border: 2px solid $c-dark-text;
    background: transparent;
    border-radius: 5px;
}

@keyframes scaleSide {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

.header__waves {
    pointer-events: none;
    @include position(absolute, null, null, 0, -10%);
    width: 110%;
    height: 100%; 
    overflow: hidden;
}

.spaceshuttle {
    @include ratio(144.91%);
    @include position(absolute, -140px, null, null, 80%);
    z-index: 100;
    width: 80px;

    transform: rotate(-140deg);
}


.spaceshuttle__ship {
    width: 100%;
    height: 100%;
    @include position(absolute, 0, null, null, 0);
    
    background: url('../img/home/spaceshuttle.svg') no-repeat center center;
    background-size: contain;

    animation: float 10s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateX(0);
    }

    33% {
        transform: translateX(-10%);
    }

    66% {
        transform: translateX(10%);
    }

    100% {
        transform: translateX(0);
    }
}

.spaceshuttle__windows {
    @include position(absolute, -10%, null, null, 43%);
    display: none;
    width: 45%;
    height: 45%;

    background: url('../img/home/shuttle-window.svg') no-repeat center center;
    background-size: contain;

    .lights-on & {
        display: block;

        animation: flickr-lights 3s ease-out;
    }
}

.spaceshuttle__ambient-light {
    @include position(absolute, calc(50% - 65px), null, null, calc(50% - 65px));
    z-index: -1;
    height: 130px;
    width: 130px;

    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255, 255, 255, 0.3) 30% ,rgba(255,255,255,0) 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    transition: opacity 1s 2.5s ease-out;

    .lights-on & {
        opacity: 1;

        animation: occilate 5s ease-in-out infinite;
    }
}

@keyframes occilate {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes flickr-lights {
    0% {
        opacity: 1;
    }

    10% {
        opacity: 0;
    }
    11% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header__wave {
    position: absolute;
    bottom: -200px;
    left: 0%;
    width: 100%;

    &--1 {
        z-index: -1;
        animation: washes 20s ease-out infinite;
    }

    &--2 {
        bottom: -215px;
        animation: washes 16s ease-out infinite;
    }

    &--3 {
        bottom: -200px;
        z-index: 101;

        animation: washes 12s ease-in-out infinite;
    }
}

@keyframes washes {
    0% {
        // transform: translateX(0%);
        left: 0;
    }
    50% {
        // transform: translateX(5%);
        left: 5%;
    }
    100% {
        // transform: translateX(0%);
        left: 0;
    }
}


// Section
// ---------------------------------------

.home__section {
    &--dark {
        background: #020202;
        color: $c-light-text;
    }
}

.home__section__inner {
    padding-top: 32rem;
    padding-bottom: 12rem;
}

.home__section__title {
    font-size: 5rem;
}
