@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,900");
.grid-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1000000;
  pointer-events: none;
  top: 0;
  left: 50%;
  width: 80%;
  height: 100vh;
  max-width: 1024px;
  box-sizing: border-box;
  background: rgba(186, 218, 85, 0.3);
  transform-origin: top center;
  transform: translateX(-50%) scaleY(0);
  transition: all .3s ease-out;
}

.grid-container.is-open {
  transform: translateX(-50%) scaleY(1);
}

.grid-column {
  display: block;
  width: 9.375%;
  height: 100%;
  background: rgba(0, 255, 0, 0.5);
}

.ctn {
  display: block;
  position: relative;
  max-width: 100%;
  padding: 0 10%;
  margin: 0 auto;
}

.ctn__inner {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
}

.col-1 {
  width: 9.375%;
}

.col-2 {
  width: 20.703125%;
}

.col-3 {
  width: 32.03125%;
}

.col-4 {
  width: 43.359375%;
}

.col-5 {
  width: 54.6875%;
}

.col-6 {
  width: 66.015625%;
}

.col-7 {
  width: 77.34375%;
}

.col-8 {
  width: 88.671875%;
}

.col-9 {
  width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 16px;
  /* px fallback */
  font-size: 1.6rem;
  /* default font-size for document */
  line-height: 1.5;
  /* a nice line-height */
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

p {
  font-family: sans-serif;
}

/* Header */
.header {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  color: #040404;
}

.header__canvas {
  display: block;
  max-width: 100vw;
  max-height: 100vh;
}

.header__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__logo {
  position: absolute;
  bottom: 100%;
  left: calc(50% - 75px);
  width: 150px;
  height: 150px;
  margin: 0 auto;
  background: url("../img/logo.svg") no-repeat center center;
  background-size: contain;
}

.header__title {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 5rem;
  font-weight: 900;
}

.header__title span {
  display: block;
}

.header__title span.hide {
  transform: translateY(100%);
  opacity: 0;
}

.header__title__sub {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 300;
}

.header__title__decorator {
  display: block;
  width: 30%;
  height: 2px;
  margin: 0 auto;
  background: #222;
  border-radius: 5px;
  transform: scaleX(0);
}

.explore-button {
  display: block;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  margin-top: 2.5rem;
  padding: 1rem 2rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  outline: 0;
  border: 2px solid #040404;
  background: transparent;
  border-radius: 5px;
}

.explore-button::before, .explore-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  background: #040404;
  transform: skew(20deg);
  transition: all .3s ease-in-out;
}

.explore-button::before {
  transform: skew(20deg) translateX(-110%);
}

.explore-button::after {
  left: auto;
  right: 0;
  transform: skew(20deg) translateX(110%);
}

.explore-button:hover {
  color: #eeeeee;
}

.explore-button:hover::before {
  transform: skew(20deg) translateX(-5%);
}

.explore-button:hover::after {
  transform: skew(20deg) translateX(5%);
}

@keyframes scaleSide {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.header__waves {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 110%;
  height: 100%;
  overflow: hidden;
}

.header__waves__svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header__waves__svg--1 {
  z-index: -1;
}

.spaceshuttle {
  position: absolute;
  top: -140px;
  left: 80%;
  z-index: 100;
  width: 80px;
  transform: rotate(-140deg);
}

.spaceshuttle::before {
  content: '';
  display: block;
  padding-top: 144.91%;
}

.spaceshuttle__ship {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/home/spaceshuttle.svg") no-repeat center center;
  background-size: contain;
  animation: float 10s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-10%);
  }
  66% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}

.spaceshuttle__windows {
  position: absolute;
  top: -10%;
  left: 43%;
  display: none;
  width: 45%;
  height: 45%;
  background: url("../img/home/shuttle-window.svg") no-repeat center center;
  background-size: contain;
}

.lights-on .spaceshuttle__windows {
  display: block;
  animation: flickr-lights 3s ease-out;
}

.spaceshuttle__ambient-light {
  position: absolute;
  top: calc(50% - 65px);
  left: calc(50% - 65px);
  z-index: -1;
  height: 130px;
  width: 130px;
  opacity: 0;
  transition: opacity 1s 2.5s ease-out;
}

.spaceshuttle__ambient-light::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, white 0%, rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 0) 75%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.lights-on .spaceshuttle__ambient-light {
  opacity: 1;
}

.lights-on .spaceshuttle__ambient-light::before {
  animation: occilate 5s ease-in-out infinite;
}

@keyframes occilate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes flickr-lights {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home__section--dark {
  background: #020202;
  color: #eeeeee;
}

.home__section__inner {
  padding-top: 32rem;
  padding-bottom: 12rem;
}

.home__section__title {
  font-size: 5rem;
}

/*# sourceMappingURL=app.css.map */
