// -------------------------------------------------------
// MAIN
// -------------------------------------------------------


html {
    font-size: 62.5%;
}

body {
    margin: 0;

    font-size: 16px; /* px fallback */
    font-size: 1.6rem; /* default font-size for document */
    line-height: 1.5; /* a nice line-height */
}



h1,
h2,
h3,
h4 {
    margin: 0;
    white-space: nowrap;
}