// MIXINS
// -----------------------------------

@mixin position($position: relative, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin ratio($size) {
    &::before {
        content: '';
        display: block;
        padding-top: $size;

    }
}


@mixin maxw($size) {
    @media screen and (max-width: $size) {
        @content;
    }
}

@mixin minw($size) {
    @media screen and (min-width: $size) {
        @content;
    }
}