// MIXINS
// -----------------------------------

@mixin position($position: relative, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}


@mixin maxw($size) {
    @media screen and (max-width: $size) {
        @content;
    }
}
  