// -------------------------------------------------------
// GRID
// -------------------------------------------------------

$grid-width: 80%;
$grid-max-width: 1024px;

$col-number: 9;
$gut-width: 10px;
$margin: 10%;


.grid-container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 50%;
    width: $grid-width;
    height: 100vh;
    max-width: $grid-max-width;
    box-sizing: border-box;

    background: rgba(#BADA55, .3);

    transform-origin: top center;
    transform: translateX(-50%) scaleY(0);

    transition: all .3s ease-out;

    &.is-open {
        transform: translateX(-50%) scaleY(1);
    }
}

.grid-column {
    display: block;
    width: calc(((100% / #{$col-number}) - #{$gut-width}));
    height: 100%;
    background: rgba(0, 255, 0, .5);
}

.ctn {
    display: block;
    position: relative;
    max-width: 100%;
    padding: 0 $margin;
    margin: 0 auto;
}

.ctn__inner {
    max-width: $grid-max-width;
    margin: 0 auto;
    width: 100%;
}

for i < 9 {
    
}